#gamepad {
  width: 500px;
  height: 500px;
  background-color: #aaaaaa;
  border: 3px solid red;
}

.bugs {
	width : 50px;
	height : 50px;
	position: absolute;
	display: none;
}

.bugs img {
	width: 100%;
	height: 100%;
}

#flower {
	width: 250px;
	position: absolute;
	left: 200px;
	top: 100px;
}

#target {
	border: 2px solid black;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	position: absolute;
	left: 286px;
	top: 179px;
	background-color: red;
	opacity: 0.5;
}